@model FinalProject.Models.Tag

@{
    string GetRandomColor()
    {
        Random rand = new Random();
        int max = byte.MaxValue + 1; // 256
        int r = rand.Next(max);
        int g = rand.Next(max);
        int b = rand.Next(max);
        string c = $"rgb({r}, {g}, {b})";

        return c;
    }

    var color = GetRandomColor();

    if (Model.Type.ToLower() == "color")
    {
        color = Model.Name.ToLower().Replace(" ", "");
    }
    else if (Model.Type.ToLower() == "season")
    {
        if (Model.Name.ToLower() == "summer")
        {
            color = "lightsalmon";
        }
        else if (Model.Name.ToLower() == "spring")
        {
            color = "lightseagreen";
        }
        else if (Model.Name.ToLower() == "fall")
        {
            color = "saddlebrown";
        }
        else if (Model.Name.ToLower() == "winter")
        {
            color = "rosybrown";
        }
        else
        {
            color = GetRandomColor();
        }
    }
    else
    {
        color = GetRandomColor();
    }

}

<span asp-validation-for="@Model.Id" id="tag" class="btn btn-primary" style="background-color:@color;">@Model.Name</span>