@model FinalProject.Models.Tag

@{ 
    string color;

    if (Model.Type.ToLower() == "color")
    {
        color = Model.Name.ToLower().Replace(" ", "");
        if (color=="white")
        {
            color="#8C8C8C";
        }
    }
    else
    {
        color = "#8C8C8C";
    }
}

<span id="tag" class="btn btn-primary" style="border:1.25px solid @color;">@Model.Name</span>