/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px 15px 0 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#img-sq {
    width: 250px;
    height: 250px;
    object-fit: cover;
}


#img-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


#img-carousel {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-color: salmon;
    margin-bottom: 20px;
}
#dash-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#text-dash{
    text-align: center;
}

a#remove-btn{
    color: red;
    font-size: 11px;

}

#tag {
    color: #9d9d9d;
    border-color: #9d9d9d;
    cursor: default;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
