/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#img-sq {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.proposal-sq {
    width: 250px;
    height: 250px;
    border: 2px solid #8C8C8C;
    border-radius: 25px;
    background-color:transparent;
    box-shadow: 0 0 .01em #8C8C8C;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.proposal-sq>h3 {
    width: 240px;
    overflow: hidden;
    text-overflow:ellipsis;
}

#prop-shared{
    border-color: seagreen;
}

#prop-shared:hover {
    transition: background-color 6s ease;
    background-color: seagreen;
}

#prop-in-progress{
    border-color: goldenrod;
}

#prop-in-progress:hover {
    transition: background-color 5s ease;
    background-color: goldenrod;
}

#proposal-act{
    margin-top:2px;
}

#img-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#prop-item-container{
    display:flex;
    flex-direction:row;
    margin:5px;
}

#caption-style {
    width: 250px;
}

#img-lib-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#img-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 5px;
}

#flex-container-col {
    display: flex;
    flex-direction: column;
}


#tag-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    flex-wrap: wrap;
}

#tag-container>p {
    margin: 1px 10px;
}

#nav-color {
    border-bottom:1.25px solid #404040;
    background-color: white;
}

#nav-style{
    color: #404040;
}

#nav-style:hover {
    text-decoration: none;
    transition: color 0.5s ease; 
    color: salmon;
}

#img-nav {
    display: block;
    position: absolute;
    top:0;
    left:0;
    max-height:40px;
    padding-top:8px;
    padding-left:8px;
}

/*#accordion {
    display: flex;
}*/

#img-card {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
}

.carousel-inner img {
    margin: auto;
}

#img-carousel {
    width: 600px;
    height: 350px;
    object-fit: cover;
    background-color: transparent;
    margin-top: 25px;
    margin-bottom: 20px;
}
#dash-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-dash{
    text-align: center;
    font-size: 1.8em;
}

a#remove-btn{
    color: red;
    font-size: 18px;
    padding: 2px;
}

#hamburger-style{
    border:none;
    background-color:#CCCCCC;
}

#hamburger-style:hover{
    background-color:#404040;
}

#add-btn {
    color: forestgreen;
    font-size: 18px;
    border: none;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

#tag {
    color: #404040;
    text-shadow: 1px;
    font-weight: bold;
    border: 1.25px solid #8C8C8C;
    padding: 1px 10px;
    background-color: transparent;
}

#tag-type{
    background-color: #CCCCCC;
    color: white;
    font-weight: bold;
    border-color: #CCCCCC;
    text-shadow: .5px .5px .5px #8C8C8C ;
}

#salmon-btn {
    width: 70%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1%;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: salmon;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

#salmon-btn:hover {
    background-color: salmon;
    transition: color 0.5s ease;
    color: black;
}

#salmon-btn-sm {
    width: 115px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: salmon;
    border: none;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

#salmon-btn-sm:hover {
    background-color: salmon;
    transition: color 0.5s ease;
    color: black;
}

#search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar input[type=text]{
border: none;
border-radius: 0;
box-shadow: 0 1px 0 0 #eeeeee;
display:inline-flex;
}

#search-bar input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid salmon;
    box-shadow: 0 1px 0 0 salmon;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
