header {
    height: 100vh;
    background-image: url("../images/kari-shea-101978-unsplash.svg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 30px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}
