@model FinalProject.Models.Tag

@{
    ViewData["Title"] = "Create New Tag";
}
<h3>Create Tag</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="salmon-btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <hr />
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>

