@model FinalProject.Models.Tag

@{
    ViewData["Title"] = "Delete Tag";
}

<h3>Delete Tag</h3>
<hr />

<h4>Are you sure you want to delete this tag?</h4>
<div>
    <p>
         @Html.DisplayFor(model => model)
    </p>
    <br />
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input id="salmon-btn-sm" type="submit" value="Delete" />
    </form>
    <hr />
    <a class="btn btn-link" asp-action="Index">Back to Manage Tags</a>
</div>

