@model IEnumerable<FinalProject.Models.Tag>

@{
    var types = Model.Select(x => x.Type).Distinct().ToList();

    ViewData["Title"] = "Tags";
}
<h4>Tags</h4>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @foreach (var type in types)
    {
        <thead>
            <tr>
                <th>
                    @type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                @if (tag.Type == type)
                {
                    <td>
                        <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                    </td>
                }
                @*<tr>
                    <td></td>
                </tr>*@
            }
        </tbody>
    }
</table>
