@model FinalProject.Models.ProposalItem

@{
    ViewData["Title"] = "ProposalItems";
}

<h3>Delete From Proposal</h3>
<hr />
<h4>Are you sure you want to delete this from @Model.Proposal.Title?</h4>

<img src="/Images/Raw/@Model.ImageId" id="img-sq" />
<p>@Model.Caption</p>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProposalId" />
        <input type="submit" value="Delete" id="salmon-btn-sm" />
    </form>
</div>

<hr />
<a class="btn btn-link" asp-action="Index">Back to List</a>
