@model FinalProject.Models.Proposal
@inject FinalProject.Services.IRepository repository

@{
    var customerItems = repository.Customers.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var designerItems = repository.Designers.Select(x => new SelectListItem(x.Name, x.Id.ToString()));

    ViewData["Title"] = "Proposals";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Proposal</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Customer" class="control-label"></label>
                    <select asp-for="CustomerId" asp-items="@customerItems" class="form-control"></select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label class="control-label">Images</label>
                    <br />
                    <a asp-controller="ProposalItemsController" asp-action="Create">Add New Image</a>*@
                @*//HTML ACTION LINK VS ANCHOR WITH TAG HELPERS?
                //TRIGGER ADD PROPOSAL ITEMS VIEW ON SUBMIT BUTTON BELOW? (RENAME NEXT?)*@


                <div class="form-group">
                    <input type="submit" value="Save & Add Images" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
