@*@model IEnumerable<FinalProject.Models.Image>*@

@model FinalProject.ViewModels.ImageSearch

@{
    ViewData["Title"] = "ImageSearch";
}

<h3>Add Images to Proposal</h3>
<p>
    <a id="salmon-btn-sm" asp-controller="Proposals" asp-action="Edit" asp-route-id="@Model.ProposalId">Done</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Proposals" asp-action="ImageSearch" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div id="search-bar" class="input-group">
                    <span class="glyphicon glyphicon-search"></span>
                    <input class="form-control" type="text" name="SearchString" placeholder="Search">
                    <input type="hidden" name="ProposalId" value="@Model.ProposalId" />
                </div>
            </div>
        </form>
    </div>
</div>

<div id="img-lib-container">
    @foreach (var item in Model.Images)
    {
        <div id="img-add">
            <img src="/Images/Raw/@item.Id" id="img-sq" />
            <p>   </p>
            <a asp-controller="ProposalItems" asp-action="Create" asp-route-imageId="@item.Id" asp-route-proposalId="@Model.ProposalId">Add to Proposal</a>
        </div>
    }
</div>
<hr />

<p>
<a class="btn btn-link" asp-controller="Proposals" asp-action="Index">Back to My Proposals</a>

<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
