@*@model IEnumerable<FinalProject.Models.Image>*@

@model FinalProject.ViewModels.ImageSearch

@{
    ViewData["Title"] = "ImageSearch";
}

<h4>Add Proposal Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Proposals" asp-action="ImageSearch" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search</label>
                <input type="text" name="SearchString" />
                <input type="hidden" name="ProposalId" value="@Model.ProposalId"/>
                <input type="submit" value="Search" class="form-control" />
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Filename
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Images)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <img src="/Images/Raw/@item.Id" id="img-sq" />
                </td>
                <td>
                    <a asp-controller="ProposalItems" asp-action="Create" asp-route-imageId="@item.Id" asp-route-proposalId="@Model.ProposalId">Add to Proposal</a> |
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
