@model FinalProject.ViewModels.AddNewTag

@{
    ViewData["Title"] = "AddNewTag";
}

<h2>AddNewTag</h2>

<h4>Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewTag">
            <input type="hidden" asp-for="ImageId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tag.Type" class="control-label"></label>
                <input asp-for="Tag.Type" class="form-control" />
                <span asp-validation-for="Tag.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag.Name" class="control-label"></label>
                <input asp-for="Tag.Name" class="form-control" />
                <span asp-validation-for="@Model.Tag.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

