@model FinalProject.Models.Image

@{
    ViewData["Title"] = "Images";
}


<h3>Delete Image</h3>
<hr />

<h4>Are you sure you want to delete this image?</h4>
<div>
    <img src="/Images/Raw/@Model.Id" id="img-sq" />
    <br />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input id="salmon-btn-sm" type="submit" value="Delete" />
    </form>
    <hr />
    <a class="btn btn-link" asp-action="Index">Back to Image Library</a>

</div>
