@model IEnumerable<FinalProject.Models.Image>

@{
    ViewData["Title"] = "Images";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Tags
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.FileName" width=200 height=200 style="object-fit:cover" />

                        @*@Html.DisplayFor(modelItem => item.FileName)*@
                    </td>
                    <td>
                        @* Placeholder for tags *@
                    </td>
                    <td>
                        <a>Add Tags</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
