
@{
    ViewData["Title"] = "UploadImages";
}

<h2>UploadImage</h2>
<label>@ViewData["fName"]</label>
@*<label>@ViewData["filepath"]</label>*@
<img src="@ViewData["filePath"]" height="42" width="42"/>

