@{
    Layout = "_Layout";
}

@*@{
    ViewData["Title"] = "Home Page";
}*@


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/welcome.css" />
    <title>Welcome</title>
</head>
<body id="welcomeContainer">
     @*<partial name="_LoginPartial" />*@
    <header>
        <h1>hello, welcome</h1>
    </header>

</body>
</html>
